nav{
    font-family: Georgia;
    background-color: black;
    color: aliceblue;
}
.navbar{
    font-family: Arial;
    background-color: aquamarine;
    color: black;
}
#menu{
    font-family: 'Times New Roman';
    background-color: brown;
    color: blanchedalmond;
}